<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <link rel="stylesheet" href="/firstpage.css">
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const gdprBanner = document.getElementById('gdprBanner');
      const acceptCookiesBtn = document.getElementById('acceptCookies');
      
      if (acceptCookiesBtn) {
        acceptCookiesBtn.addEventListener('click', function() {
          gdprBanner.style.display = 'none';
          localStorage.setItem('cookiesAccepted', 'true');
        });
      } else {
        console.error('GDPR accept button not found');
      }

      if (!localStorage.getItem('cookiesAccepted')) {
        if (gdprBanner) {
          gdprBanner.style.display = 'flex';
        } else {
          console.error('GDPR banner not found');
        }
      }
    });
  </script>
</head>
<body>
  <div class="container">
    <div id="room-container">
      <% Object.keys(rooms).forEach(room => { %>
        <div class="room">
          <div><%= room %></div>
          <a href="/<%= room %>">Join</a>
        </div>
      <% }) %>
    </div>
    <form action="/room" method="POST">
      <input name="room" type="text" required autocomplete="off">
      <button type="submit">New Room</button>
    </form>

    <div class="info-container">
      <p>By using Chat-App, you agree that all chats are logged for security purposes. Your messages and related data will be securely stored and only shared as required by law. Users are responsible for their content; inappropriate activity may result in account termination or legal action. We strive to protect your data but cannot guarantee complete security. By continuing to use Chat-App, you agree to this disclaimer.</p>
    </div>
  </div>

  <div class="gdpr-banner" id="gdprBanner">
    <p>We use cookies to ensure you get the best experience on our website. <a href="/privacy-policy" target="_blank">Learn more</a></p>
    <button id="acceptCookies">Accept</button>
  </div>

  <footer>
    <p>© 2024 Rohan. Minkumar. Kshatri This project was created for web development Course.</p>
    <p>All rights reserved. Any unauthorized use or distribution of assets from this source code is strictly prohibited.</p>
  </footer>
</body>
</html>
