<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <link rel="stylesheet" href="/firstpage.css">
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('acceptCookies').addEventListener('click', function() {
        document.getElementById('gdprBanner').style.display = 'none';
        localStorage.setItem('cookiesAccepted', 'true');
      });

      if (!localStorage.getItem('cookiesAccepted')) {
        document.getElementById('gdprBanner').style.display = 'flex';
      }
    });
  </script>
</head>
<body>
  <div class="container">
    <div id="room-container">
      <% Object.keys(rooms).forEach(room => { %>
        <div class="room">
          <div><%= room %></div>
          <a href="/<%= room %>">Join</a>
        </div>
      <% }) %>
    </div>
    <form action="/room" method="POST">
      <input name="room" type="text" required autocomplete="off">
      <button type="submit">New Room</button>
    </form>

    <div class="info-container">
      <p>All chat logs will be saved and can be used for legal actions if needed.</p>
    </div>
  </div>

  <div class="gdpr-banner" id="gdprBanner">
    <p>We use cookies to ensure you get the best experience on our website. <a href="/privacy-policy" target="_blank">Learn more</a></p>
    <button id="acceptCookies">Accept</button>
  </div>

  <footer>
    <p>© 2024 Abdinasir Y. Ali. This project was created for HTML classes.</p>
    <p>All rights reserved. Unauthorized use of any assets from this source code is prohibited.</p>
  </footer>
</body>
</html>
